@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

/*===========hide scrollbar==========*/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*===========animate===========*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
  gap: 20px;
  width: fit-content;
}

.scroll-content > div {
  min-width: 200px;
}


/* src/MasonryLayout.css */
.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}
.masonry-item {
  margin-bottom: 30px;
}
.masonry-item img {
  width: 100%;
  display: block;
}

@media screen and (min-width: 1024px) {
  
@keyframes swing {
  0% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.swing {
  animation: swing  ease-in-out 3s infinite alternate;
  float: left;
  transform-origin: center -50px;
  display: flex;
}
}




