@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
  width: 100%;
  overflow-x: hidden; 
}

/*===========hide scrollbar==========*/
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/*===========animate===========*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.scroll-content {
  display: flex;
  animation: scroll 30s linear infinite;
  gap: 20px;
  width: fit-content;
}

.scroll-content > div {
  min-width: 200px;
}
